@charset "utf-8";

* {
	font-family: "Trirong", serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.section {
	padding: 20px;
}

.col-sm-3 {
	width: '25%';
}

@media screen and (max-width: 730px) {

	.col-sm-3 {
		width: '100%';
	}

}